# Node modules (if installed later)
node_modules/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Logs
*.log

# Environment files
.env

# Build / dist folders (if added later)
dist/
build/

# Temporary files
temp/
tmp/
Assignment-1/temp.js